<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <title>Add Subscription</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Fitness Center</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown" th:align="top">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/classes/all">Our Classes</a>
                        <a class="dropdown-item" href="/subscription/all">Subscription Types</a>
                    </div>
                </li>
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" href="#">About</a>-->
                <!--                    </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div id="content">
        <div class="container-fluid">
        </div>
        <div class="modal-dialog container-fluid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add record</h5>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/subscription/add/submit/}" th:object="${entry}"
                          method="post">
                        <fieldset>

                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" th:field="*{name}" autocomplete="off" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="entries">Number of entries per day</label>
                                <input type="number" th:field="*{nrOfEntries}" autocomplete="off" class="form-control" id="entries">
                            </div>

                        </fieldset>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <div th:if="${errorMessageAuthor != null}" class="alert alert-danger alert-dismissible">
                            <a th:href="@{/subscription/add/}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span th:text="${errorMessageAuthor != null} ? ${errorMessageAuthor}"></span>
                        </div>
                    </form>
                    <a th:href="@{/admin/}">
                        <button>
                            CANCEL
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>